.header__bg {
  background: url("../../assets/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__bg {
  background: url("../../assets/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.sub__menu ul {
  transform: translatex(100%) scale(0);
}
.sub__menu:hover ul {
  transform: translatex(101%) scale(1);
}
.sub__menu:hover > {
  transform: rotate(-270deg);
}
.order__dropdown{
  width: 225px;
  font-size: 12px !important;
  height: 45px;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right;
  background-color: #fff;
    background-position-x: right;
  -webkit-appearance: none;
  background-position-x: 180px;
}
.red_bg_opacity {
  background: rgba(212, 4, 4, 0.8);
}
.dark_bg_opacity {
  background: rgba(0, 0, 0, 0.8);
}
.white_bg_opacity {
  background: rgba(255, 255, 255, 0.7);
}
.featured__bg {
  background: url("../../assets/Kiemelt\ BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bttn_width button {
  width: 100% !important;
  display: flex;
  justify-content: center;
}
.usedInstrument1 {
  background: url("../../assets/used-instrument1.png");
}
.usedInstrument2 {
  background: url("../../assets/used-instrument2.png");
}
.usedInstrument3 {
  background: url("../../assets/used-instrument3.png");
}
.usedInstrument4 {
  background: url("../../assets/used-instrument4.png");
}
.usedInstrument5 {
  background: url("../../assets/used-instrument5.png");
}
.usedInstrument6 {
  background: url("../../assets/used-instrument6.png");
}
.usedInstrument7 {
  background: url("../../assets/used-instrument7.png");
}
.usedInstrument8 {
  background: url("../../assets/used-instrument8.png");
}
.usedInstrument9 {
  background: url("../../assets/used-instrument9.png");
}
.usedInstrument10 {
  background: url("../../assets/used-instrument10.png");
}
.usedInstrument11 {
  background: url("../../assets/used-instrument11.png");
}
.usedInstrument12 {
  background: url("../../assets/used-instrument12.png");
}
.usedInstrument13 {
  background: url("../../assets/used-instrument13.png");
}
.usedInstrument14 {
  background: url("../../assets/used-instrument14.png");
}
.usedInstrument15 {
  background: url("../../assets/used-instrument15.png");
}
.newInstrument1 {
  background: url("../../assets/new-instrument1.png");
}
.newInstrument2 {
  background: url("../../assets/new-instrument2.png");
}
.newInstrument3 {
  background: url("../../assets/new-instrument3.png");
}
.newInstrument4 {
  background: url("../../assets/new-instrument4.png");
}
.newInstrument5 {
  background: url("../../assets/new-instrument5.png");
}
.newInstrument6 {
  background: url("../../assets/new-instrument6.png");
}
.newInstrument7 {
  background: url("../../assets/new-instrument7.png");
}
.newInstrument8 {
  background: url("../../assets/new-instrument8.png");
}

.usedInstrument,
.newInstrument {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .footer__bg {
    background: url("../../assets/responsive-footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header__bg {
    background: url("../../assets/responsive-nav-bg.jpg");
  }
}
